In [16]:

###################################################
# ter python instalado  - no terminal fazer:  "py -V"  (sem as aspas) 
# ter pandas instalado
# para instalar pandas - fazer no terminal  "!pip instal pandas" (sem as aspas) 

# Ex Vasco


# importar libraries
import pandas as pd

# ler excel e criar um df
df = pd.read_excel ("/pastas do ambiente de trabalho/MSI/2º ano, 1º semestre/AVI/programa/tabelasdimensoes.xlsx")

# guardar df em csv para poder usar no tableau
df.to_csv ("/pastas do ambiente de trabalho/MSI/2º ano, 1º semestre/AVI/programa/tabelasdimensoescsv.csv", index = None, header=True)


# fazer dataframe
data = pd.read_csv ("/pastas do ambiente de trabalho/MSI/2º ano, 1º semestre/AVI/programa/tabelasdimensoescsv.csv")   
df = pd.DataFrame(data)

print(df)


####################################

#importar para SQL 

# import pyodbc
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=Vasco\SQLAVI;'
                      'Database=test_database;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()

#fazer as tables em SQL


cursor.execute
		CREATE TABLE ESTUDANTES... (
			ID_Estudante int primary key,
			ID_DadosGerais varchar(50),
			ID_DadosAcademicos varchar(50)
      ID_UES 
      ID_UnidadeOrganica varchar(30)
      ID_Curso varchar(50)
      ID_Tempo varchar(10))
              

conn.commit()



##################################################################

#parte tabela estudante

# ler excel e criar um df
df = pd.read_excel (")



######retirado do chat, processo de etl - ver definições e nomenclaturas no documento de apoio

import pandas as pd

# Extract
data = pd.read_csv('input_data.csv')

# Transform
# Example transformation: Convert prices to USD
data['price_usd'] = data['price'] * 0.85

# Load
data.to_csv('output_data.csv', index=False)

#retirado do chat, processo de warehouse
import psycopg2

# Connect to the PostgreSQL database
conn = psycopg2.connect(
    host="your_host",
    port="your_port",
    database="your_database",
    user="your_username",
    password="your_password"
)

# Create a cursor object
cursor = conn.cursor()

# Create the data warehouse schema
create_table_query = '''
CREATE TABLE IF NOT EXISTS your_table (
    column1 data_type1,
    column2 data_type2,
    ...
)
'''
cursor.execute(create_table_query)
conn.commit()

# Load the transformed data into the data warehouse
insert_query = '''
INSERT INTO your_table (column1, column2, ...)
VALUES (%s, %s, ...)
'''

# Iterate over the transformed data and execute the insert query
for row in transformed_data:
    cursor.execute(insert_query, (row['column1'], row['column2'], ...))

conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

IndentationError: unexpected indent (2596469569.py, line 43)